<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
  <div class="puppy-list">
    <a href="/puppies/new/{{id}}"><img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqtndRbG8ZEoo5fkgDwKzDhRsVJ3xpnlC-kRyps8cNzRAp39fh9Q" alt="New Puppy here!"></a>
  </div>
</div>
